docs/n8n/nexus_despachos_sender.json
{
  "name": "Nexus — Despachos Sender",
  "_info": {
    "n8n": "1.122.5",
    "evolution": "2.3.3 (exchange)",
    "nexus": "payload autossuficiente — sem re-fetch de PDF"
  },
  "nodes": [

    {
      "id": "schedule",
      "name": "Cron — a cada minuto",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "* * * * *" }]
        }
      }
    },

    {
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "a1",  "name": "NEXUS_URL",         "value": "http://192.168.1.100:8099",    "type": "string" },
            { "id": "a2",  "name": "NEXUS_API_KEY",      "value": "sua_chave_nexus",              "type": "string" },
            { "id": "a3",  "name": "EVOLUTION_URL",      "value": "https://api.evolution.com",   "type": "string" },
            { "id": "a4",  "name": "EVOLUTION_INSTANCE", "value": "minha_instancia",             "type": "string" },
            { "id": "a5",  "name": "EVOLUTION_API_KEY",  "value": "sua_chave_evolution",         "type": "string" },
            { "id": "a6",  "name": "SMTP_HOST",          "value": "smtp.gmail.com",              "type": "string" },
            { "id": "a7",  "name": "SMTP_PORT",          "value": 587,                           "type": "number" },
            { "id": "a8",  "name": "SMTP_USER",          "value": "seu-email@gmail.com",         "type": "string" },
            { "id": "a9",  "name": "SMTP_PASSWORD",      "value": "xxxx xxxx xxxx xxxx",         "type": "string" },
            { "id": "a10", "name": "SMTP_FROM_NAME",     "value": "Nexus",                       "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "get-pendentes",
      "name": "GET — despachos/pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.NEXUS_URL }}/despachos/pendentes?limite=50&incluir_retry=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $json.NEXUS_API_KEY }}" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "if-tem",
      "name": "IF — tem despachos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "c1",
            "leftValue": "={{ $json.total }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "gt" }
          }],
          "combinator": "and"
        },
        "options": {}
      }
    },

    {
      "id": "split",
      "name": "Split Out — despachos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [880, 300],
      "parameters": {
        "fieldToSplitOut": "despachos",
        "options": {}
      }
    },

    {
      "id": "if-canal-wp",
      "name": "IF — canal whatsapp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "c1",
            "leftValue": "={{ $json.canal }}",
            "rightValue": "whatsapp",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      }
    },

    {
      "id": "if-tipo-pdf",
      "name": "IF — tipo pdf?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 180],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "c1",
            "leftValue": "={{ $json.payload.tipo }}",
            "rightValue": "pdf",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      }
    },

    {
      "id": "evo-sendmedia",
      "name": "Evolution — sendMedia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 80],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.EVOLUTION_URL + '/message/sendMedia/' + $('Config').first().json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Config').first().json.EVOLUTION_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.destino, mediatype: 'document', mimetype: 'application/pdf', media: $json.payload.pdf_base64, fileName: ($json.relatorio_nome || $json.alerta_nome || 'nexus') + '.pdf', text: $json.payload.text || 'Documento' }) }}",
        "options": { "allowUnauthorizedCerts": true }
      }
    },

    {
      "id": "evo-sendtext",
      "name": "Evolution — sendText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 280],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.EVOLUTION_URL + '/message/sendText/' + $('Config').first().json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Config').first().json.EVOLUTION_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.destino, text: $json.payload.mensagem }) }}",
        "options": { "allowUnauthorizedCerts": true }
      }
    },

    {
      "id": "code-email",
      "name": "Code — preparar email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 420],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst p = d.payload || {};\nconst temPdf = !!(p.pdf_base64);\nreturn [{\n  json: {\n    ...d,\n    _assunto:      p.assunto  || 'Nexus: ' + (d.relatorio_nome || d.alerta_nome || 'Notificação'),\n    _html:         '<p>' + (p.resumo || '') + '</p>',\n    _tem_pdf:      temPdf,\n    _pdf_filename: (d.relatorio_nome || d.alerta_nome || 'relatorio') + '.pdf',\n    _pdf_data:     temPdf ? p.pdf_base64 : null\n  },\n  pairedItem: { item: 0 }\n}];"
      }
    },

    {
      "id": "smtp-send",
      "name": "SMTP — enviar email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1540, 420],
      "continueOnFail": true,
      "parameters": {
        "fromEmail": "={{ $('Config').first().json.SMTP_FROM_NAME + ' <' + $('Config').first().json.SMTP_USER + '>' }}",
        "toEmail": "={{ $json.destino }}",
        "subject": "={{ $json._assunto }}",
        "html": "={{ $json._html }}",
        "options": {
          "host": "={{ $('Config').first().json.SMTP_HOST }}",
          "port": "={{ $('Config').first().json.SMTP_PORT }}",
          "user": "={{ $('Config').first().json.SMTP_USER }}",
          "password": "={{ $('Config').first().json.SMTP_PASSWORD }}",
          "ssl": false,
          "attachments": "={{ $json._tem_pdf ? JSON.stringify([{ fileName: $json._pdf_filename, data: $json._pdf_data, mimeType: 'application/pdf' }]) : '[]' }}"
        }
      }
    },

    {
      "id": "code-resultado",
      "name": "Code — avaliar resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 280],
      "parameters": {
        "jsCode": "const item = $input.first();\n\nlet despachoId = null;\nlet tentativasAnterior = 0;\ntry {\n  const original = $('Split Out — despachos').item.json;\n  despachoId = original.id;\n  tentativasAnterior = original.tentativas || 0;\n} catch(e) {}\n\n// Evolution usa 'status', n8n usa 'statusCode' — checar ambos\nconst statusCode = item.json?.statusCode ?? item.json?.status ?? 200;\nconst temErro = !!item.json?.error ||\n                (typeof statusCode === 'number' && statusCode >= 400);\nconst sucesso = !temErro;\n\nconst erroMsg = temErro\n  ? String(item.json?.error?.message || item.json?.error || item.json?.message || 'HTTP ' + statusCode)\n  : null;\n\nreturn [{\n  json: {\n    despacho_id: despachoId,\n    status:      sucesso ? 'enviado' : 'falhou',\n    erro:        erroMsg,\n    tentativas:  tentativasAnterior + 1\n  }\n}];"
      }
    },

    {
      "id": "if-tem-id",
      "name": "IF — tem despacho_id?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2000, 280],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "c1",
            "leftValue": "={{ $json.despacho_id }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "gt" }
          }],
          "combinator": "and"
        },
        "options": {}
      }
    },

    {
      "id": "patch-status",
      "name": "PATCH — despachos status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 200],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.NEXUS_URL + '/despachos/' + $json.despacho_id + '/status' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key",    "value": "={{ $('Config').first().json.NEXUS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, erro: $json.erro, tentativas: $json.tentativas }) }}",
        "options": {}
      }
    }

  ],

  "connections": {
    "Cron — a cada minuto": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "GET — despachos/pendentes", "type": "main", "index": 0 }]]
    },
    "GET — despachos/pendentes": {
      "main": [[{ "node": "IF — tem despachos?", "type": "main", "index": 0 }]]
    },
    "IF — tem despachos?": {
      "main": [
        [{ "node": "Split Out — despachos", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Out — despachos": {
      "main": [[{ "node": "IF — canal whatsapp?", "type": "main", "index": 0 }]]
    },
    "IF — canal whatsapp?": {
      "main": [
        [{ "node": "IF — tipo pdf?", "type": "main", "index": 0 }],
        [{ "node": "Code — preparar email", "type": "main", "index": 0 }]
      ]
    },
    "IF — tipo pdf?": {
      "main": [
        [{ "node": "Evolution — sendMedia", "type": "main", "index": 0 }],
        [{ "node": "Evolution — sendText",  "type": "main", "index": 0 }]
      ]
    },
    "Evolution — sendMedia": {
      "main": [[{ "node": "Code — avaliar resultado", "type": "main", "index": 0 }]]
    },
    "Evolution — sendText": {
      "main": [[{ "node": "Code — avaliar resultado", "type": "main", "index": 0 }]]
    },
    "Code — preparar email": {
      "main": [[{ "node": "SMTP — enviar email", "type": "main", "index": 0 }]]
    },
    "SMTP — enviar email": {
      "main": [[{ "node": "Code — avaliar resultado", "type": "main", "index": 0 }]]
    },
    "Code — avaliar resultado": {
      "main": [[{ "node": "IF — tem despacho_id?", "type": "main", "index": 0 }]]
    },
    "IF — tem despacho_id?": {
      "main": [
        [{ "node": "PATCH — despachos status", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
