docs/n8n/nexus_dispatcher.json
{
  "name": "Nexus — Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "* * * * *" }]
        }
      },
      "id": "schedule",
      "name": "Cron — a cada minuto",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "NEXUS_URL",        "value": "http://192.168.1.100:8000", "type": "string" },
            { "id": "a2", "name": "NEXUS_API_KEY",    "value": "sua_chave_nexus",           "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.NEXUS_URL }}/agendamentos/proximas-execucoes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $json.NEXUS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "get-agendamentos",
      "name": "GET — proximas-execucoes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-total",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "if-tem",
      "name": "IF — tem_agendamentos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "agendamentos",
        "options": {}
      },
      "id": "split-agendamentos",
      "name": "Split Out — agendamentos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-tipo",
              "leftValue": "={{ $json.tipo_recurso }}",
              "rightValue": "alerta",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "switch-tipo",
      "name": "Switch — tipo_recurso",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.NEXUS_URL + '/alertas/' + $json.recurso_nome + '/verificar?forcar=true' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $('Config').first().json.NEXUS_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parametros: $json.parametros }) }}",
        "options": {}
      },
      "id": "post-alerta",
      "name": "POST — verificar alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.NEXUS_URL + '/relatorios/' + $json.recurso_nome + '/solicitar' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $('Config').first().json.NEXUS_API_KEY }}" }
          ]
        },
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            { "name": "formato",        "value": "json" },
            { "name": "notificar",      "value": "true" },
            { "name": "agendamento_id", "value": "={{ $json.id }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parametros: $json.parametros }) }}",
        "options": {}
      },
      "id": "post-relatorio",
      "name": "POST — solicitar relatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.NEXUS_URL + '/agendamentos/' + $('Split Out — agendamentos').first().json.id + '/marcar-executado' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $('Config').first().json.NEXUS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "marcar-executado",
      "name": "POST — marcar-executado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Cron — a cada minuto": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "GET — proximas-execucoes", "type": "main", "index": 0 }]]
    },
    "GET — proximas-execucoes": {
      "main": [[{ "node": "IF — tem_agendamentos?", "type": "main", "index": 0 }]]
    },
    "IF — tem_agendamentos?": {
      "main": [
        [{ "node": "Split Out — agendamentos", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Out — agendamentos": {
      "main": [[{ "node": "Switch — tipo_recurso", "type": "main", "index": 0 }]]
    },
    "Switch — tipo_recurso": {
      "main": [
        [{ "node": "POST — verificar alerta",   "type": "main", "index": 0 }],
        [{ "node": "POST — solicitar relatorio", "type": "main", "index": 0 }]
      ]
    },
    "POST — verificar alerta": {
      "main": [[{ "node": "POST — marcar-executado", "type": "main", "index": 0 }]]
    },
    "POST — solicitar relatorio": {
      "main": [[{ "node": "POST — marcar-executado", "type": "main", "index": 0 }]]
    }
  }
}
